.purple{
  background: #636385;
}

.white{
  background: #BBC4BB;
}

.lightGreen{
  background: #568984;
}

.darkGreen{
  background: #6A8085;
}

.lightBlue{
  background: #009BBA
}

.mediumBlue{
  background: #296CB4;
}

.darkBlue{
  background: #1177AA;
}

.grey{
  background: #6A8085;
}

.teal{
  background: #166A7B;
}
