.container{
  position: relative;
}
.horizontal{
    display: flex;
    flex-direction: row;
}
.vertical{
    flex-direction: column;
}

.border {
  margin: 2px;
  box-sizing: border-box;
}

.pullLeft{
  position: relative;
  right: -40;
}
