
.horizontal{
    display: flex;
    flex-direction: row;
}
.vertical{
    flex-direction: column;
}

.border {
  margin: 2px;
  box-sizing: border-box;
}

.pullRight {
  margin-left: auto;
}

.pullLeft {
  margin-right: auto;
}

.pullDown {
  margin-top: auto;
}
