.small{
  height: 20px;
  width: 20px;
}
.medium{
  height: 40px;
  width: 40px;
}
.large{
  height: 60px;
  width: 60px;
}
.extraLarge{
  height: 80px;
  width: 80px;
}

.small,
.medium,
.large,
.extraLarge{
  border: 2px solid black;
  box-sizing: border-box;
  opacity: 0.5;
}
