.container{
  position: absolute;
  height: 100%;
}
.zone1{
  position: absolute
}
.zone2{
  left: 320px;
  position: absolute
}
.zone3{
  width:320px;
  position: absolute;
  top: 40px;
}
.zone4{
  top: 180px;
  position: absolute;
}
.zone5{
  top: 240px;
  left: 60px;
  width: 220px;
  position: absolute;
}

.zone6{
  position: absolute;
  left: 240px;
  top: 220px;
}

.zone7{
  position: absolute;
  top: 360px;
  left: 200px;
}

.zone1,
.zone2,
.zone3,
.zone4{

}
